body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

h2 {
    color: #212529;
}

select {
    width: 200px;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    color: #495057;
    background-color: #fff;
    appearance: none; /* Removes the default appearance of select elements in some browsers */
    cursor: pointer;
    margin: 10px 0;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
